*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1307px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 48px;
    margin-bottom: 100px;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 90px;
    height: 38px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    .nav-list{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.nav-item a{
   color: 
   #002959;
   font-weight: 400;
   font-size: 16px ;
   text-decoration: none;
   transition: all 0.5s ease-out;
}

.nav-item a:hover{
    color: #021d3b;
}

.shop-icon{
    color: #002959;
}

.orange-button{
    display: flex;
    align-items: center;
    gap: 6px;
    padding:18px 30px ;
    background-color: 
    #EC6C21;
    transition: all 0.5s ease-out;

    span{
        font-weight: 500;
        font-size: 16px;
        color: #fff;
    }
}


.orange-button:hover{
    background-color: #80370d;
}


// main======


.main__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.title{
 color:#002959;
 font-weight: 600;
 line-height: 70px;
 font-size: 61px;
}

.description{
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color:#002959 ;
}

.orange-button-two{
    display: flex;
    align-items: center;
    gap: 6px;
    padding:18px 30px ;
    background-color: 
    #EC6C21;
    transition: all 0.5s ease-out;
    text-decoration: none;
    color:#fff ;

    span{
        color: #fff;

    }
}

.orange-button-two:hover{
    background-color: #ac460c;
}